#resultbt{
    background-color:blueviolet;
    border: 2px solid red;
    border-radius: 4px;
    color: aqua;
    margin-left: 10px;
    text-decoration: none;
}
#viewbt{
    background-color:blueviolet;
    border: 2px solid red;
    border-radius: 4px;
    color: aqua;
    text-decoration: none;
    text-align: center;
    width: 42%;
    margin-left: 43px;
}