// IMPORTANT
.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
	color: white;
	right: 0;
	border-radius: 4px;
}

.subnav {
	position: sticky;
	bottom: 0;
	top: 60px; // prevent covering main nav
}

// DEMO LAYOUT CODE
.nav {
	background: black;
	&__title {
		margin: 0px 30px;
	}
	&__item {
		display: inline-block;
		margin: 0px 30px;
	}
}

.nav__item a{
	color: white;
 text-decoration: none;
}

.nav__item a:hover{
	color: red;
}